name: CI/CD Pipeline for CIPUADA


on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check source
        uses: actions/checkout@v3

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential make gcc

      - name: Build library and run tests
        run: |
          if [ -f "tests/test_runner" ]; then
            make clean
          fi
          make run_test
